* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #2e948a;
  display: flex;
  justify-content: space-around;
  height: 18vh;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-size: 4rem;
  color: #fff;
  margin: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 2rem;
}

nav a {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  color: #fdfdfd;
  text-transform: uppercase;
}

main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.banner-texto {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.banner-texto h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 4.125rem;
  font-weight: 700;
  color: #ff4081;
}

.banner-texto p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 400;
  color: #555555;
  margin: 1rem 0 2rem 0;
}

.banner-texto a {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 400;
  color: #ff4081;
  text-decoration: none;
  border: 2px solid #ff4081;
  padding: 0.5rem 1rem;
  border-radius: 3.8rem;
}

@media (max-width: 425px) {
  header {
    width: 100vw;
    background-color: #2e948a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  }

  header ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  header li {
    margin: 0.3rem;
    font-weight: 700;
  }

  header a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo h2 {
    font-size: 2rem;
    color: #fff;
  }

  .banner {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
  }

  .banner img {
    width: 13rem;
  }

  .banner-texto {
    text-align: center;
  }

  .banner-texto h1 {
    font-size: 2rem;
    color: #ff4081;
    font-weight: bold;
    margin: 1rem;
  }

  .banner-texto p {
    font-size: 1rem;
    color: #555555;
    font-weight: 400;
    margin: 1rem;
  }

  .banner-texto a {
    font-size: 1rem;
    color: #ff4081;
    text-decoration: none;
    border: 2px solid #ff4081;
    margin: 1rem;
    padding: 0.3rem 2.5rem;
    border-radius: 62px;
    margin: 0 0 1rem 4rem;
  }
}
